/*
 Default theme
 */
@import "bourbon";
@import "modules/variables";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $base-font-colour;
    font-family: $serif;
}

// Reduce "heaviness" of headings through contrast
h1, h2, h3, h4, h5, h6 {
    color: tint($base-font-colour, 3%);
    font-family: $sans-serif;
}

h1, h2, h3 {
    color: tint($base-font-colour, 5%);
}

pre, code {
    font-family: $monospace;
}

// For <small>, it is theoretically the same as h6
time, small {
    font-family: $sans-serif;
}

/*
 Keep default underline for links because we are using a primary colour that is likely to be used on another element
 It might not be as clean, but it's much easier to distinguish IMHO
 */
a {
    @include transition(all .33s ease-in-out);
    color: $primary-colour;

    &:hover, &:focus {
        color: shade($primary-colour, 10%);
        text-decoration: none;
    }
}


/*
 Temporary fix for unusual line-height behaviour
 */
h1, h2, h3 {
    line-height: $base-keyline-increment * 2;
}
h4, h5, h6, time, small {
    line-height: $base-keyline-increment;
}