<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/normalize/3.0.3/normalize.min.css">
    <link rel="prefetch" href="http://basehold.it/i/30">

    <link rel="stylesheet" href="css/syntax.css">
    <link rel="stylesheet" href="css/civil.css">
    <style>{% include_relative css/docs.css %}</style>
</head>

<body>

<header class="header block">
    <div class="wrapper">
        <div class="brand">
            <a href="{{ site.project.url }}" class="magic-link">civil.css</a>
        </div>
        <nav class="nav">
            <a href="{{ site.project.source }}" class="nav-item btn btn-primary-ghost btn-cta">Source</a>
            <a href="{{ site.project.download }}" class="nav-item btn btn-primary btn-cta">Download</a>
        </nav>
    </div>
</header>