.header {
    background: $base-colour-inverse;

    // 22.5px (45px), leaving 45px for content (total = 90px)
    padding: ($kl-i-1-2 / 2 * 3) 0;
}

.brand {
    float: left;
    padding: ($kl-i-1-2 / 2) 0;
}

.btn-cta {
    font-size: rem(16);
    padding: rem(10.5) $kl-i-1-2;
}