@import "bourbon";
@import "modules/variables";

$accent-colour: #EB586F;
$secondary-colour: #4AA0D5;
$white: #FEFEFE;
$black: #454553;

body {
    background: #F0E9FF;
    color: $black;
}

.grid {
    background: #F0E9FF url(http://basehold.it/i/30);
}

.no-underline {
    &:after {
        content: normal;
    }
}

.form-select {
    background: $white;
    height: 60px;
    padding: 0 $kl-i-1-2;
    vertical-align: middle;
}

.btn {
    @extend .no-underline;
    background: $accent-colour;
    border: none;
    color: $white;
    font-family: $sans-serif;
    font-size: rem(16);
    line-height: 30px;
    padding: $kl-i-1-2/2 $kl-i-1-2;

    &:hover {
        background: tint($accent-colour, 10%);
        outline: 3px solid tint($accent-colour, 50%);
        color: $white;
    }
}

.btn-ghost {
    background: none;
    outline: 1px solid $accent-colour;
    color: $accent-colour;
    &:hover {
        background: none;
        color: tint($accent-colour, 10%);
    }
}

.btn-secondary {
    background: $secondary-colour;
    &:hover {
        background: tint($secondary-colour, 10%);
        outline: 3px solid tint($secondary-colour, 50%);
    }
}

.header {
    background: $white;
    padding: ($kl-i-1-2/2)*3 0;

    .brand {
        float: left;
        padding: $kl-i-1-2/2 0;
    }
    .nav {
        float: right;
        margin: 0;
        padding: 0;

        .nav-item:last-child {
            margin-left: 6px;
        }
    }
}

.nav-item {
    display: inline-block;
}

.hero {
    text-align: center;
    padding: $kl-i-2 0;

    .btn {
        padding: $kl-i-1-2 $kl-i-2;
    }

    .form-select {
        margin-left: 6px;
    }
}

.module-sub {
    margin-bottom: $kl-i-1;

    &:last-child {
        margin-bottom: 0;
    }
}

.module-head {
    background: $black;
    color: $white;
    margin: 0;
    padding: $kl-i-1-2 $kl-i-1;
}

.module-body {
    background: $white;
    margin-bottom: $kl-i-1;
    padding: $kl-i-1;
}

.module-example {
    outline: 3px solid $grey-lighter-colour;
    padding: $kl-i-1;
}

.footer {
    background: $black;
    margin-top: $kl-i-2;
    padding: $kl-i-2 0;
}
    .author {
        color: $white;
        &:after {
            background: $white;
        }
    }

.hearts {
    color: $accent-colour;
}

.module-example-code {
    margin-top: $kl-i-1;
}

.highlight > pre {
    border: 0;
    outline: 3px solid $grey-lighter-colour;
}

@media only screen and (max-width: $base-content-width) {
    .header, .hero, .footer {
        .wrapper {
            padding: 0 $kl-i-1;
        }
    }
}