// 1. Base defaults
// Leave body font-size alone: https://goo.gl/KtKtEi
html {
    box-sizing: border-box;
    font-size: $root-font-size;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $base-font-colour;
    font-family: $serif;
    line-height: 1.5;
}

// 2. Layout
.wrapper {
    margin: 0 auto;
    max-width: 100%;
    width: $base-content-width;
}