// 1. Base button
// Source (adapted): Bootstrap and Basscss
.btn {
    @include btn-size;

    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: $sans-serif;
    vertical-align: middle;
    white-space: nowrap;

    &:hover, &:focus {
        text-decoration: none;
        outline: none;
    }
}

// 2. Button styles
// Primary
.btn-primary {
    @include btn-style;
}

// Secondary
.btn-secondary {
    @include btn-style($bg: $secondary-colour);
}


// 3. Ghost buttons
.btn-primary-ghost {
    @include btn-style-ghost;
}

.btn-secondary-ghost {
    @include btn-style($secondary-colour, $secondary-colour);
}