// 1. Basic image
// Scales down to fit the container's width
//
// It's likely to break vertical rhythm when stretched
// There's no real around this besides JavaScript
img {
    display: block;
    height: auto;
    margin-bottom: $kl-i-1; // 1 keyline increment bottom
    max-width: 100%;
}

// 2. Responsive image
// Scales up to fit the container's width
.img-responsive {
    min-width: 100%;
}