// 1. Responsive images
// They're likely to break vertical rhythm when stretched
// There's no real around this besides JavaScript
// .stretch can be used to stretch small images to the container's width
img {
    display: block;
    height: auto;
    margin-bottom: $kl-i-1; // 1 keyline increment bottom
    max-width: 100%;
}

.img-responsive {
    min-width: 100%;
}